<div class="row">
  <div class="col-md-12">
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" placeholder="Ingredient name" #nameInput>
      </div>
    <div class="form-group">
      <label for="amountInput">Amount</label>
      <input type="number" class="form-control" id="amountInput" placeholder="Amount of ingredient" #amountInput>
    </div>
    <div class="btn-group">
      <button class="btn btn-success" (click)="onSaveClicked()">Save</button>
      <button class="btn btn-danger">Delete</button>
      <button class="btn btn-light">Clear</button>
    </div>
  </div>
</div>
